<div class="policy-container mt-4 mb-4">
  <h2>Order Cancellation Rights</h2>
  <p>You are entitled to cancel your order within <strong>7 days</strong> without providing any reason.</p>
  <p>The cancellation deadline is 7 days from the date you received the goods or from when a third party, appointed by you (other than the carrier), takes possession of the product.</p>
  <p>To exercise your right of cancellation, please inform us by sending a clear statement of your decision. You can reach us at:</p>
  <p>Email: <a href="mailto:support@gajlaxmi.com" class="email">support&#64;gajlaxmi.com</a></p>
  <p>We will reimburse you within <strong>14 days</strong> from the day we receive the returned goods. The reimbursement will be made using the same payment method you used for the order, and no fees will be incurred for this process.</p>
    </div>
    
