<ng-container *ngIf="image?.redirect_link?.link_type === 'external_url'; else collection">
  <a *ngIf="!isExternal(image?.redirect_link?.link)" [routerLink]="cleanLink(image?.redirect_link?.link)" class="banner-contain d-block h-100">
    <ng-container *ngTemplateOutlet="bannerContent"></ng-container>
  </a>
  <a *ngIf="isExternal(image?.redirect_link?.link)" href="{{ image?.redirect_link?.link }}" target="_self" class="banner-contain d-block h-100">
    <ng-container *ngTemplateOutlet="bannerContent"></ng-container>
  </a>
</ng-container>

<ng-template #collection>
  <ng-container *ngIf="image?.redirect_link?.link_type === 'collection'; else product">
    <a [routerLink]="['/category', image?.redirect_link?.link]">
      <ng-container *ngTemplateOutlet="bannerContent"></ng-container>
    </a>
  </ng-container>
</ng-template>

<ng-template #product>
  <ng-container *ngIf="image?.redirect_link?.link_type === 'product' else onlyImage">
    <a [routerLink]="['/product/', getProductSlug(image?.redirect_link?.link, (product$ | async)?.data!)]">
      <ng-container *ngTemplateOutlet="bannerContent"></ng-container>
    </a>
  </ng-container>
</ng-template>

<ng-template #onlyImage>
  <ng-container *ngTemplateOutlet="bannerContent"></ng-container>
</ng-template>

<ng-template #bannerContent>
  <div class="h-100 bg-size" [ngClass]="class" *ngIf="bgImage"
    [ngStyle]="{'background-image': 'url(' + storageURL + image?.image_url + ')'}"></div>
  <img *ngIf="!bgImage" [src]="storageURL + image?.image_url" [attr.loading]="lazy ? 'lazy' : 'eager'"
    [attr.fetchpriority]="fetchpriority" decoding="async" class="h-100 bg-img w-100" alt="banner">
</ng-template>